
/*-------------------------------------------------------------------*/
/*                         tablette responisive                      */
/*-------------------------------------------------------------------*/

@media(min-width:600px) and (max-width:768px){
    header .container{
        padding: 20px 0;
    }
    header .navbar .responsive-pc{
        display: none;
    }
    header .responsive-phone{
        display: flex;
        z-index: 3;
    }

    header .navbar .search{
        background: transparent; 
        border-radius: none;
        margin-left: 0;
        transition: all .5s ease;
    }
    header .navbar .search i{
        font-size: 25px;
    }
    header .responsive-phone>a:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    
    header .navbar .search > a {
        color: #fff;
        padding: 0;
        background: none;
        border-radius: none;
        margin-left: 0;
        transition: all .5s ease;
    }
    header .navbar .search>a:hover{
        color: #d34178;
    }
    header .navbar .search>a>span{
        display: none;
    }

    header .responsive-phone .menu{
        top: 77px;
    }
    header .responsive-phone .menu .dropdown{
        position: absolute;
        left: 200px;
        top: 0;
        width: 250px;
        background-color: white;
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
        border-radius: 5px;
        padding: 15px;
        transition: all .5s ease;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
    }
    header .responsive-phone .menu>li:hover .dropdown{
        visibility: visible;
        opacity: 1;
        left: 236px;
    }
    header .responsive-phone .menu>li:hover>a{
        visibility: visible;
        opacity: 1;
        left: 236px;
        color: #d34178;
    }
    header .responsive-phone .menu .dropdown>li{
        position: relative;
    }
    header .responsive-phone .menu .dropdown .sou-dropdown{
        position: absolute;
        left:-200px;
        top: 0;
        width: 250px;
        background-color: white;
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
        border-radius: 5px;
        padding: 15px;
        transition: all .5s ease;
        visibility: hidden;
        opacity: 0;
    
    }
    header .responsive-phone .menu .dropdown>li:hover .sou-dropdown{
        visibility: visible;
        opacity: 1;
        left: -266px;
    }



    main .sidebar{
        display: none;
    }
    main .posts {
        width: 100%;
    }
    main .posts .card {
        width: 100%;
    }

}